body {
  background-color: #f9f9eb;
  margin: 0 20px;
}

h1 {
  font-size: 42px;
  font-family: Rockwell;
  color: black;
}

.new-todos{
  font-family: Arial;
}

.todo {
  list-style: none outside none;
}

.complete {
  text-decoration: line-through;
}

span.remove:hover {
  color: rgba(255,0,0,.5);
  font-size: 40px;
}

span.counter:hover {
  font-size:;
}
